.about-me{
  margin-left: 70px;
}
/* Add the following CSS styles */
.project-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; /* Adjust this property to align the cards */
}

.project {
  width: calc(50% - 10px); /* Adjust the width of each card and add some margin between them */
  margin-bottom: 20px;
}

/* Add the following CSS styles for the custom-card class */
.custom-card {
  transition: box-shadow 0.3s, transform 0.3s; /* Add transition effect for box-shadow and transform */
}

.custom-card:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); /* Add a shadow effect when hovering */
  transform: scale(1.05); /* Zoom in the card a little when hovering */
}
.bcurve{
  border-radius: 15px;
}
.bordered-text {
  border: 2px solid rgb(5, 236, 63);
  padding: 5px; /* Optional: Add padding to create some space between the text and the border */
  border-radius: 10px;
  
} 
.bordered-text{
  transition: background-color 0.5s ease;
}
.bordered-text:hover {
  background-color: rgb(5, 236, 63);
}
 
 /* Custom styles for the selected and unselected tabs */
 .nav-pills .nav-item .nav-link.active {
  background-color: rgb(73, 228, 73);
  color: white;
}
.nav-pills .nav-item .nav-link {
  color: rgb(73, 228, 73);
}
.image-container {
  width: 280px;
  height: 185px;
  background-color: #2b3d57;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*ihov means icon hover. I add this for change icon (github and link redirect) on hover*/
/* Customize the icon color to white */
.ihov {
  color: #ffffff;
}

/* Add the transition effect */
.ihov {
  transition: color 0.5s ease;
}

/* Add the hover effect */
.ihov:hover{
  color: #00ff00; /* Green color */
}


.container {
  display: flex;
  align-items: center;
  justify-content:center;
}

.green-eye {
  color: green;
}
.bod{
  padding: 20px;
}

body {
    position: relative;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #222c38;;
    color: #ffffff;
  }
  
  body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  
  #pageContent {
    display: block;
  }
  footer{
    position: relative;
    grid-column: 1/-1;
    width: auto;
    height: auto;
    top: 250px;
    text-align:center;
    padding: 3px;
    background-color: rgb(37, 37, 37);
    color:white;
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    z-index: 200;
  }
  
  .foota:link {
    color: rgb(255, 133, 133);
  }
  
  /* visited link */
  .foota:visited {
    color: rgb(153, 255, 153);
  }
  
  /* mouse over link */
  .foota:hover {
    color: rgb(255, 255, 255);
  }
  
  /* selected link */
  .foota:active {
    color: rgb(95, 95, 255);
  }
  
  /*Input start*/
            input {
                border: 4px solid #b6fc66; /* Set the border style */
                border-color: rgb(227, 255, 11); /* Set the border color */
                border-radius: 10px;
                font-size: 16px;
                padding: 10px;
              }
              input:hover {
                border-color: rgb(90, 24, 151); /* Set the desired hover border color */
              }
              
              input:focus {
                outline: none; /* Remove the default focus outline */
                border-color: rgb(0, 224, 30); /* Set the desired focus border color */
              }
              /*Input END*/
              
              
              